html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: #fff;
}

h1 {
	font-size: 1.2em;
}

.content p:first-of-type::first-letter {
	font-size: 55px;
}

.icon-menu {
	color: #000;
	font-size: 30px;
	display: block;
	position: absolute;
	left: 10px;
	top: 13px;
	z-index: 10000;
}

.innerwrapper,
.menu {
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

.innerwrapper {
	position: relative;
	z-index: 2;
	min-width: 320px;
	background-color: #fff;
	-webkit-transition-property: -webkit-transform;
	-webkit-transform: translate3d(0, 0, 0);

	&.closed {
		-webkit-transition-duration: 200ms;
		-webkit-transition-timing-function: ease-in;
		-webkit-transform: translate3d(260px, 0px, 0px);
	}
}

.menu {
	position: absolute;
	width: 259px;
	height: 100%;
	top: 0;
	left: -100%;
	background: #eae4d6;
	@extend .clearfix;
	z-index: 0;
	border-right: 1px solid #c5bfb3;
	display: block;

	&.expanded {
		left: 0;
	}

	ul {
		list-style: none;
		padding: 65px 0 0;
		margin: 0;
	}

	li {
		border-bottom: 1px solid #fff;

		&:first-child {
			border-top: 1px solid #fff;
		}

		a {
			padding: 15px;
			color: #fff;
			display: block;
			text-decoration: none;

			&:hover,
			&:active {
				background: #c5bfb3;
			}
		}
	}
}

.header {
	z-index: 90;
	position: absolute;
	.nav {
		display: none;
	}
}

.no-img {
	.page {
		.container {
			margin-top: 0;
		}
	}
}


.home {
    .slides,
    .flex-control-nav {
        display: none;
    }

    .btn {
    	width: 53%;
    }
}

.vignette {
	display: none;
}

.intro {
	width: 100%;
	position: static;
	.inner {
		width: 92%;
		padding: 80px 4%;
	}
}


.stories {
	.map {
		height: 100%;
		width: 100%;
		position: absolute;
		.control {
			display: none;
		}
	}
}

#story {
	position: static;
	.content-1,
	.content-2 {
		width: 100%;
	}

	.content-1 {
		top: 65px;
	}

	.controllers {
		display: none;
	}

	.content {
		padding: 20px 20px;
		transition-delay: 0.2s;
		-webkit-transition-delay: 0.2s;
		@include ios-render-fix();
	}

	.content-2 {
		margin: 0;
		padding: 100px 0 0;
		overflow: auto;
	}

	.container {
		position: static;
	}

	.meta {
		padding: 0;
		.inner {
			padding: 30px 0 10px 0;
		}
	}
}

.list {
	display: none;
}

.page {
	.images {
		display: none;
	}

	.head {
		width: 80%;
		padding: 20px 0 30px 0;
		transition-delay: 0.1s;
		-webkit-transition-delay: 0.1s;
		@include ios-render-fix();
	}

	.form {
		width: 90%;
	}

	&.text {
		.content {
			padding: 0 20px;
			-moz-column-count: 1;
			-webkit-column-count: 1;
			column-count: 1;
			-moz-column-gap: 0;
			-webkit-column-gap: 0;
			column-gap: 0;
		}
	}

	.container {
		margin: 0;
		padding-top: 80px;
		padding-bottom: 20px;
	}
}